# Pastas de build e arquivos gerados
**/bin/
**/obj/
**/Debug/
**/Release/
.vscode/




# Arquivos gerados automaticamente pelo .NET e Visual Studio
*.exe
*.dll
*.pdb
*.cache
*.nuget.*
*.csproj.user
*.suo
*.user
*.userosscache
*.sln.docstates
project.lock.json
project.fragment.lock.json

# Arquivos específicos de configuração do usuário
API/appsettings.json
API/Properties/launchSettings.json
API/API.csproj
API/API.http
/Core/Core.csproj
/Infrastructure/Infrastructure.csproj

# Arquivos de log
*.log

# Configurações de depuração
appsettings.Development.json

# Repositórios locais de pacotes NuGet
*.nupkg
packages/

# Arquivos temporários do sistema
*.tmp
*.bak
*.swp
*.DS_Store

# Arquivos gerados por outros sistemas de desenvolvimento
*.class
*.pyc
