# Excluir todas as pastas bin e obj em qualquer lugar do projeto
**/bin/
**/obj/
# Ignorar arquivos de configuração específicos do usuário
API/appsettings.json
API/Properties/launchSettings.json
API/API.csproj
API/API.http
# Arquivos gerados automaticamente pelo .NET e Visual Studio
*.exe
*.dll
*.pdb
*.cache
*.nuget.*
*.csproj.user
*.suo
*.user
*.userosscache
*.sln.docstates
project.lock.json
project.fragment.lock.json

# Arquivos de log
*.log

# Configurações de depuração
appsettings.Development.json

# Ignorar repositórios locais de pacotes NuGet
*.nupkg
packages/

# Ignorar qualquer pasta Debug ou Release
**/Debug/
**/Release/

# Arquivos temporários
*.tmp
*.bak
*.swp
*.DS_Store
*.class
*.pyc
